{% extends 'base.html' %} {% block title %}Receituário inline - {% endblock
%} {% block content %}
<div class="container">
  <section>
    <ul>
        <li>ciprofloxacino 500mg 12/12h por 5 dias</li>
        <li>nitrofurantaína 10mg 6/6h durante 7 dias</li>
        <li>Ivermectina 6mg (200mcg/kg) em dose única, repetir com 7 dias</li>
        <li>Permetrina</li>
        <li><input type="text" name="receita_inline"/><button type="submit">Inserir</button></li>
    </ul>
  </section>
</div>
{% endblock %} {% block scripts %}
{% endblock %}